/* Hide the spin buttons in WebKit browsers (Chrome, Safari, Edge) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* .number-input {
    -moz-appearance: textfield;
} */